virtual
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches and logs
*.log
*.sqlite3
db.sqlite3
__pycache__/

# Static files
staticfiles/

# Media files
media/

# Virtual environment
venv/
