{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />

    <style></style>
    <!-- ---------------------------- CSS BLOCK ----------------------------- -->
    {% block css %} {% endblock %}
</head>

<body>
    <!-- ---------------------------- BODY BLOCK ----------------------------- -->

    <!-- Navbar -->
    <div class="navbar" id="navbar">
        <a href="{% url 'baseapp:HomePage' %}"><img width="80rem" src="{% static 'images/pawsitive.svg' %}"
                alt="" /></a>
        <a href="{% url 'baseapp:HomePage' %}" class="active">Home</a>
        <select class="dropbtn" onchange="navigateToPage(this.value)">
            <option value="" disabled selected>Check</option>
            <option value="{% url 'baseapp:get_pet_health' %}">Pet Health</option>
            <option value="{% url 'baseapp:pet_adoption_status' %}">Adoption Request Status</option>
        </select>

        <select class="dropbtn" onchange="navigateToPage(this.value)" name="DebtManager" id="debtmanager">
            <option value="" disabled selected>Community</option>
            <option value="">Learn&grow</option>
            <option value="">Post</option>
        </select>

        <select class="dropbtn" onchange="navigateToPage(this.value)" name="saving sprint" id="saving-sprint"
            class="saving-sprint">
            <option value="" disabled selected>Lets Adopt</option>

            <option value="">Adopt</option>
        </select>
        <a href="javascript:void(0);" class="icon" onclick="toggleNavbar()"> &#9776; </a>
        <a href="" class="active">FAQ</a>
        <a href="{% url 'baseapp:querytest' %}" class="active">Querytest</a>



        {% if user.is_authenticated %}
        <a class="anchor-btn" href="{% url 'baseapp:logout_user' %}">{{ request.user.username }}</a>
        {% else %}
        <a class="anchor-btn" href="{% url 'baseapp:login_user' %}">Login</a>
        {% endif %}
    </div>

    <!-- Content -->
    {% block content %} {% endblock %}

    <div class="container">{% block body %} {% endblock %}</div>

    <!-- ---------------------------- SCRIPT BLOCK ----------------------------- -->
    {% block script %} {% endblock %}

    <!-- JavaScript to toggle responsive navbar -->

    <script>
        function toggleNavbar() {
            var x = document.getElementById("navbar");
            if (x.className === "navbar") {
                x.className += " responsive";
            } else {
                x.className = "navbar";
            }
        }
    </script>
    <script>
        function navigateToPage(url) {
            if (url) {
                window.location.href = url;
            }
        }
    </script>
</body>

</html>