{% extends "base.html" %}

{% load static %}

{% block title %} FAQs {% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/faq.css' %}">
{% endblock %}
{% block body %}
<div class="faq-background">
    <div class="faq-container">
        <img class="faq-trn-logo" src="{% static 'images/trn_logo.png' %}" alt="" />
        <h1><strong>Frequently Asked Questions</strong></h1>
        <h3>
            Here is everything you ever wanted.
        </h3>
    </div>
</div>

<div class="faq-items">
    <div class="faq-container">

        {% for i in questions %}
        <div class="faq-item">
            <h2 class="question"> {{ i }} </h2>
            <div class="answer">
                <p>
                    Despite a global aid budget of over 140 billion USD annually, much of this money never actually
                    reaches local organisations, let alone the communities they serve. 95% of US and 90% of UK´s
                   
                </p>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %} {% block script %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const questions = document.querySelectorAll(".question");
        questions.forEach((question) => {
            question.addEventListener("click", function () {
                const answer = this.nextElementSibling;
                const isOpen = answer.style.display === "block";
                // Close other div
                questions.forEach((q) => {
                    const a = q.nextElementSibling;
                    if (a !== answer) {
                        a.style.display = "none";
                    }
                });
                // Toggle current answer
                answer.style.display = isOpen ? "none" : "block";
            });
        });
    });
</script>
{% endblock %}