{% extends "base.html" %}

{% load static %}

{% block title %} FAQs {% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/faq.css' %}">

{% endblock %}
{% block body %}
<div class="faq-background">
    <div class="faq-container">
        <img class="faq-trn-logo" src="{% static 'images/trn_logo.png' %}" alt="" />
        <h1 style="color: white; font-weight: 300;" >Additional Queries</h1>
        <h3>
            Here is everything you ever wanted.
        </h3>
    </div>
</div>

<div class="faq-items">
    <div class="faq-container">

        {% for i in faq_data %}
        <div class="faq-item">
            <h3 class="question"> {{ i.question }} </h3>
            <div class="answer">
                <p>
                    {{ i.answer }}
                   
                </p>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %} {% block script %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const questions = document.querySelectorAll(".question");
        questions.forEach((question) => {
            question.addEventListener("click", function () {
                const answer = this.nextElementSibling;
                const isOpen = answer.style.display === "block";
                // Close other div
                questions.forEach((q) => {
                    const a = q.nextElementSibling;
                    if (a !== answer) {
                        a.style.display = "none";
                    }
                });
                // Toggle current answer
                answer.style.display = isOpen ? "none" : "block";
            });
        });
    });
</script>
{% endblock %}