{% extends "base.html" %}

{% block css %}
{% endblock %}

{% block body %}
<h2>Pet Information Form</h2>
    <form action="submit_pet_info.php" method="POST">
        <label for="petName">Pet Name:</label><br>
        <input type="text" id="petName" name="petName" required maxlength="50"><br><br>

        <label for="species">Species:</label><br>
        <input type="text" id="species" name="species" required maxlength="50"><br><br>

        <label for="breed">Breed:</label><br>
        <input type="text" id="breed" name="breed" required maxlength="50"><br><br>

        <label for="age">Age:</label><br>
        <input type="number" id="age" name="age" required min="0" max="999"><br><br>

        <label for="gender">Gender:</label><br>
        <select id="gender" name="gender" required>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
        </select><br><br>

{% endblock %}

{% block css %}
{% endblock %}